@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 220 3% 91%;
  --foreground: 0 0% 100%;
  --primary: 220 100% 50%;
  --text: 0 0% 11%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 11%;
    --foreground: 0 0% 16%;
    --text: 220 3% 91%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
